In [2]:
## !pip install -U git+git://github.com/iqoptionapi/iqoptionapi.git
from iqoptionapi.stable_api import IQ_Option as iq
import pandas, numpy, datetime
username = "gsolaril@alu.itba.edu.ar"
password = "12345678"
API = iq(username, password)
API.connect()
API.change_balance("PRACTICE")

In [55]:
for tag in ["forex", "crypto", "cfd"]:
    print(tag.upper() + ":\n" + 2*len(tag)*"‾")
    spex = API.get_instruments(type = tag)["instruments"]
    labels = sorted([index["ticker"] for index in spex])
    for index in range(0, len(labels), 12):
        line = str(labels[index : index + 12])[1 : -1]
        print(10*" " + line.replace("'", ""))

FOREX:
‾‾‾‾‾‾‾‾‾‾
          AUDCAD, AUDCHF, AUDJPY, AUDNZD, AUDUSD, CADCHF, CADJPY, CHFJPY, EURAUD, EURCAD, EURCHF, EURGBP
          EURNZD, EURUSD, GBPJPY, GBPUSD, NZDCAD, NZDCHF, NZDJPY, NZDUSD, USDCAD, USDCHF, USDJPY
CRYPTO:
‾‾‾‾‾‾‾‾‾‾‾‾
          ADAUSD-L, BCHUSD-L, BTCUSD, BTCUSD-L, DSHUSD, EOSUSD, EOSUSD-L, ETCUSD, ETHUSD, ETHUSD-L, IOTUSD-L, LTCUSD
          LTCUSD-L, NEOUSD-L, OMGUSD, QTMUSD, TRXUSD, TRXUSD-L, XLMUSD-L, XRPUSD, ZECUSD
CFD:
‾‾‾‾‾‾
          AA:US, AAP:US, ABBV:US, ABT:US, ACN:US, ADBE:US, ADSD-CHIX, ADSK:US, AIRP-CHIX, ALGN, ALIBABA, AMAZON
          AMC, AMD, AMGN:US, ANSS, APPLE, ATVI:US, BA:US, BAC:US, BAIDU, BARCL-CHIX, BATSL-CHIX, BAYND-CHIX
          BB:US, BBVAE-CHIX, BBY:US, BHPl-CHIX, BMWD-CHIX, BMY:US, BPL-CHIX, BUD, BYND, CAT:US, CBKD-CHIX, CGC
          CISCO, CITI, CL:US, CMCSA:US, COIN, COKE, COND-CHIX, COP:US, COST:US, CRM:US, CRON, CTAS:US
          CTXS:US, CVS:US, CVX:US, DAID-CHIX, DAL:US, DBKD-CHIX, DBX, DFS:US, DGX:US, DHI:US, DHR:US, DIA
          DIS:US, DISCA:US, DLR:US, DOV:US, DPWD-CHIX, DRE, DRI:US, DTE:US, DTED-CHIX, DVA:US, DVN:US, EBAY:US
          ECL:US, ED:US, EEM, EFX:US, EIX:US, EMN:US, EMR:US, ENELM-CHIX, ENIM-CHIX, EOAND-CHIX, EQR:US, EQT:US
          ESS:US, ETR:US, EWJ, EWW, EXPD:US, EXR:US, EZJL-CHIX, FACEBOOK, FBHS:US, FCX:US, FDJP, FE:US
          FERRARI, FFIV:US, FIS:US, FISV:US, FITB:US, FLS:US, FMC:US, FRT:US, FSLR:US, FXI, GDX, GE
          GILD:US, GM, GME, GOOGLE, GS, GWPH, HAS:US, HEIOA-CHIX, HON:US, HSBAL-CHIX, IBM:US, IDXX
          IEMG, INTEL, IWM, IYR, JPM, JUVEM, KHC:US, LLOYL-CHIX, LMT:US, LYFT, MA:US, MCDON
          MDT:US, MELI, MJ, MKSL-CHIX, MMM:US, MO:US, MORSTAN, MRKD-CHIX, MRWL-CHIX, MSFT, MU:US, NFLX:US
          NIKE, NOK:US, NVDA:US, ORP-CHIX, PFE:US, PG:US, PINS, PIRCM-CHIX, PM:US, PSTM-CHIX, PYPL:US, QCOM:US
          QQQ, RBSL-CHIX, RMD, RRL-CHIX, RTN:US, SANE-CHIX, SBUX:US, SDS, SLB:US, SMH, SNAP, SPOT
          SPY, SQQQ, STANL-CHIX, SU, SYK:US, T:US, TEFE-CHIX, TESLA, TFC, TFX, TITM-CHIX, TLRY
          TLT, TMUS, TSCOL-CHIX, TWITTER, UBER, UCGM-CHIX, UKOUSD, ULVRL-CHIX, USOUSD, V:US, VIAC, VODL-CHIX
          VOW3D-CHIX, VZ:US, WBA:US, WMT:US, WORK, XAGUSD, XAUUSD, XLB, XLE, XLK, XLU, XLY
          XME, XOM:US, XOP, ZM

(Data since ``2013-11-11``)

In [10]:
now = int(datetime.datetime.now().timestamp()) - 9.8*60*60*24*365*5/7
data = API.get_candles("XAUUSD", 3600, 2500, now)
data = pandas.DataFrame(data).rename(columns = \
    {"from": "Time", "max": "High", "close": "Close",
     "open": "Open", "min": "Low", "volume": "Volume"})
data.set_index(keys = "Time", drop = True, inplace = True)
data.index = pandas.to_datetime(data.index, unit = "s", utc = True)
data.index = data.index.tz_convert("America/Argentina/Buenos_Aires")
data.drop(columns = ["id", "at", "to"], inplace = True)
data = data.iloc[:, [0, 3, 2, 1, 4]]  ;  data

                               Open      High       Low     Close  Volume
Time
2014-04-04 14:00:00-03:00  1304.950  1305.425  1302.540  1302.635       0
2014-04-04 15:00:00-03:00  1302.635  1303.915  1300.965  1302.925       0
2014-04-04 16:00:00-03:00  1302.925  1303.675  1302.085  1303.430       0
2014-04-04 17:00:00-03:00  1303.430  1305.030  1302.875  1303.450       0
2014-04-04 19:00:00-03:00  1303.450  1303.710  1303.450  1303.710       0
...                             ...       ...       ...       ...     ...
2014-04-24 19:00:00-03:00  1293.715  1294.305  1293.135  1293.350       0
2014-04-24 20:00:00-03:00  1293.350  1293.350  1291.600  1291.715       0
2014-04-24 21:00:00-03:00  1291.715  1294.000  1291.160  1293.755       0
2014-04-24 22:00:00-03:00  1293.755  1294.660  1291.785  1291.885       0
2014-04-24 23:00:00-03:00  1291.885  1292.820  1291.830  1292.230       0

[326 rows x 5 columns]

In [3]:
API.buy(1, "EURUSD", "call", 1)

(True, 8212383539)